@import '../../variables/variables';
.slideshow {
  position: relative;
  width: 100%;
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.25rem;
    img {
      max-height: 4rem;
      height: calc(1rem + 4vmin);
      min-height: 2rem;
    }
    &--prev {
      left: calc(0.25rem + 1vmin);
      img {
        transform: rotate(180deg);
      }
    }
    &--next {
      right: calc(0.25rem + 1vmin);
    }
  }
  &__image {
    width: 100%;
    object-fit: cover;
  }
  &__counter {
    position: absolute;
    bottom: calc(0.25rem + 0.75vmin);
    left: 50%;
    transform: translateX(-50%);
    color: $secondary-font-color;
    font-size: clamp(0.5rem, (0.25rem + 2vmin), 1.2rem);
  }
}
