html {
  display: flex;
  justify-content: center;
}
body {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
.App {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
}

.links {
  text-decoration-line: none;
  color: $main-font-color;
  cursor: pointer;
  &:visited {
    color: $main-font-color;
  }
  &:hover,
  :focus {
    text-decoration-line: underline;
    opacity: 0.8;
  }
  &_footer {
    color: $secondary-font-color;
    &:visited {
      color: $secondary-font-color;
    }
  }
}
*:focus-visible {
  outline-color: $main-font-color;
  outline-style: solid;
  outline-width: 4px;
  outline-offset: 2px;
}
