.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: $footer-background-color;
  color: $main-font-color;
  padding: 2rem;
  padding-bottom: 1rem;
  &__logo {
    min-width: 8rem;
    max-width: 8vmin;
  }
  &__legal-info {
    margin: 0;
    max-width: 40vmin;
  }
}
