.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
  background: grey;
  &_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}
