.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  // background-color: gainsboro;
  &__logo {
    min-width: 10rem;
    max-width: 18vmin;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  &__link {
    border-radius: 0.2em;
    height: min-content;
    padding: 0.2em;
  }
}
