.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  // width: clamp(32%, 75vw, 26rem);
  // min-width: calc((100vw / 3) - 4rem);
  // max-width: 100%;
  width: clamp(32%, 18rem, 100%);
  //   width: clamp(32%, (15rem + 5vw), 100%);
  //   width: clamp(32%, 20vmax, 32rem);
  background: #ff6060;
  border-radius: 10px;

  &__img {
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: #ff6060;
    height: 100%;
    border-radius: 10px;
  }
  &__title {
    position: absolute;
    z-index: 2;
    left: 1rem;
    bottom: 0;
    max-width: 66%;
    display: flex;
    text-align: left;
    text-align-last: left;
    background: transparentize($color: #ff6060, $amount: 0.1);
    border-radius: 0.5em;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    line-height: 1.25em;
    padding: 0.25em 0.5em;
  }
}
