body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #ff6060;
}
p {
  line-height: 1.5rem;
}
// div div {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.links {
  text-decoration-line: none;
  color: #ff6060;
  &:visited {
    color: #ff6060;
  }
  &:hover,
  :focus {
    text-decoration-line: underline;
  }
  // text-decoration-line: none;
  // color: #ff6060;

  &_footer {
    color: white;
    &:visited {
      color: white;
    }
  }
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
