body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-size: 1rem;
  color: #ff6060;
}

.links {
  text-decoration: none;
  color: #ff6060;
  &:visited {
    color: #ff6060;
  }
  &_footer {
    color: white;
    &:visited {
      color: white;
    }
  }
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
