.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  &__logo {
    // min-width: 10rem;
    width: 15rem;
    max-width: 18vw;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(0.25rem, 2.5vmin, 2rem);
  }
  &__link {
    border-radius: 0.2em;
    height: min-content;
    padding: 0.2em;
    text-transform: uppercase;
    font-size: clamp(0.6rem, 4vmin, 1rem);
  }
}
