.collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border-radius: 0.5rem;
  color: $main-font-color;
  padding: 0 1rem;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background: $main-color;
    color: $secondary-font-color;
    padding: 0.25em 1rem;
    width: 100%;
  }
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0.1rem;
    border-radius: 100%;
    background: $main-color;
    transform-origin: center;
    transition: transform 0.75s ease-out;
    width: 2rem;
    height: 2rem;
    caret-color: transparent;
    &:focus-visible {
      caret-color: transparent;
      outline: 3px solid $secondary-font-color;
      outline-offset: 0;
    }
    &.rotate {
      transform: rotate(-180deg);
    }
  }
  &__arrow.rotate {
    transform: rotate(-180deg);
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    position: relative;
    z-index: -1;
    width: 100%;
    background-color: $cards-background-color;
    color: $main-font-color;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-top: -0.5rem;
    visibility: collapse;
    opacity: 0;
    padding: 0.75em 1rem;
    padding-top: 1.25rem;
    display: flex;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
  }
  &__content.open {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
}
.collapse--about {
  width: 80%;
}
.collapse--apartement {
  width: 40%;
}
